* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto; /* Allow scrolling */
}

.background-background-background {
  flex: 1;
  position: relative;
  background-color: white;
  z-index: 1;
  border-top: 160px;
}

.full-page {
  flex: 1; /* Ensure the full page grows to fill the space */
  position: relative;
  background-color: black;
  z-index: 1;
  border-top: 160px;
}

.navbar {
  background-color: rgb(234, 223, 223);
  height: 160px;
  border-radius: 9vh 9vh 0 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 2; /* Ensure the navbar is in front of the video */
  position: fixed;
  width:97vw;
  border-top: 20px;
  margin-left:1vw;
}

.logo-png {
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: bisque;
  border-radius: 70px 0 70px 0;
  width: 325px;
}

#logo {
  height: 7vh;
  width: 7vh;
  margin-left: 30px;
}

.logo-png span {
  font-size: 2vh;
  margin-left: 1vw;
  margin-bottom: 1vh;
}

.profile-logo-png img {
  height: 30px;
  width: 30px;
}

#profile-logo {
  margin: 20px;
}

.profile-logo-png:hover {
  cursor: pointer;
  background-color: rgb(245, 189, 121);
  border-radius: 100px;
}

.navbar-right-side {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.navbar-right-side ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar-right-side li {
  list-style: none;
}

.navbar-right-side a {
  text-decoration: none;
  color: rgb(110, 106, 106);
  font-size: larger;
  padding: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-right-side a span {
  margin-right: 5px;
}

.navbar-right-side a:hover {
  background-color: salmon;
  border-radius: 10px;
  color: white;
}

.body-below-nav {
  position: relative;
  z-index: 1; /* Ensure content is in front of the video */
  padding: 20px; 
  flex: 1;
  height: 100vh;
}

#bgVideo {
  position: absolute;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  z-index: -1; /* Ensure video is in the background */
  padding-top: 150px;
  opacity: 75%;
  object-fit: cover;
  margin-top: auto;
}

.search-bar {
  outline: none;
  position: relative;
  text-align: center;
  margin-top: 100px;
  z-index: 2; 
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 350px;
  margin-top: 400px;
}

.search-bar input {
  height: 0px;
  width: calc(50% - 50px);
  font-size: 16px;
  border-radius: 30px 0 0 30px;
  border: 1px solid #ccc;
  opacity: 0.8;
}

.search-bar input:focus {
  transition: width 1s ease;
  opacity: 1;
  font-size: 16px;
  padding: 20px;
  width: calc(100% + 200px);
}

.search-bar input:blur {
  opacity: 0;
  transition: ease-out 1s;
}

#search {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  background-color: bisque;
  border-radius: 30px;
  padding: 10px;
}

.productShowCase{
  display:flex;
  justify-content: space-around;
}

.productFrontColumn{
  flex: 1; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 20px;
}

footer {
  color: black;
  background-color: rgb(234, 223, 223);
  min-height: 50px;
  background: PapayaWhip;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  bottom: -10;
  z-index: 2;
  width: 100%;
}

footer img{
  height: 20px;
}


/* Unique to Log-In/Sign-Up Page*/

.loginsignup-form h1{
  padding-left: 175px;
  font-size:xx-large;
}

.loginsignup-form{
  background-color: white;
  border-style: groove;
  border-radius: 25px;
  height: 500px;
  width: 500px;
  padding: 100px;
  margin: 10vw 30vw 10vw 30vw;
  margin-top: 3vw;
  z-index: 1;
}

.loginsignup-form input{
  margin: 45px;
  height: 30px;
  width: 300px;

  cursor:text;
  background-color: rgb(223, 217, 211);
  border-radius: 30px;
  padding: 20px;
  padding-left: 70px;
}

.loginsignup-form button{
  display:flexbox;
  padding: 15px;
  margin-left: 100px;
  cursor: pointer;
  text-align: center;
}

#signinbutton {
  padding-left: 120px;
  padding-right: 120px;
}